
  html, body, .container-fluid {
    height: 100%;
  }

  h2 {
    color: antiquewhite;
    size: 60%;
  }
  h3 {
    color: coral;
    size: 60%;
  }
 


  .name{
    padding-left: 10%;
  }
  .row {
    height: 25%;
    background: dimgray;
  }
  
  .row > div {
    position: relative;
    top: 50%;
    transform: translateY(0%);
  }
  
  .price {
    padding-left: 20%;

  }
  
  /* Add a ( before the change */
  .change::before {
    content: '(';
  }
  
  /* Add a ) after the change */
  .change::after {
    content: ')';
  }
  
  /* Add a $ before the price */
  .price::before {
    content: '$';
  }
  
  /* Hide the price and change when they are empty */
  .change:empty, .price:empty {
    display: none;
  }
  